.about {
  
  padding: 40px 0 40px 0;
  .about-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items:  center;
  }
  .about-img {
    grid-column: 1 / 2;
  }
  .about-text {
    grid-column: 2 / 3;
    align-items: center;
    text-align: left;
    p {
      line-height: 1.9;
      letter-spacing: 0.6px;
      font-size: 0.8rem;
      padding: 0 10%  20px 10%;

    }
  
  }


}
    