.contact {

  .icon-list {
    padding: 40px 0;
  }
  .icon-text {
    display: flex;
    padding-bottom: 60px;
    align-items: center;
  }
  i {
    font-size: 2rem;
    padding-right: 40px;
  }
  p {
    padding-top: 5px;
    font-size: 1rem;
    letter-spacing: 1px;
    text-align: left;
  }
}


