
.bottom-info {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  
}
.bottom-info i {
  font-size: 1.6rem;
  transition: 0.2s;
  padding: 0 20px;
}
.copy {
  background-color: $highlight;
  color: $grey;
  padding: 5px 0;
}

p {
  font-size: 0.6rem;
  text-align: center;
}
.bottom-icons :hover {
  color: $highlight;
  scale: 1.3;
}