
.bottom-info {
  display: flex;
  justify-content: space-between;
  
}
.bottom-info i {
  transition: 0.3s;
  margin-right: 10px;
}
.copy {
  background-color: $highlight;
  color: $grey;
}

p {
  font-size: 0.6rem;
  text-align: center;
}
.bottom-icons :hover {
  color: $highlight;
  scale: 1.3;
}