
header {
  min-height: 50vh;
  background-color: $grey;
  background: linear-gradient(to top, rgba(255,255,255,0.9) 10%, rgba(255,255,255,0.8)), url("../assets/flower-back.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .top {
    display: flex;
    justify-content: space-between;
    padding-right: 15%;
  }
  nav ul{
    display: flex;
    li {
      padding-right: 5%;
    }
    a:hover {
      border-bottom: 2px solid $highlight;
    }
  }
  h1 {
    font-size: 4rem;
    padding: 8% 0 0 7%;
    color: #FDCA4A;
    width: 50%;
    text-shadow: 1px 1px gray;
  }
  h4 {
    font-size: 1.6rem;
    padding: 2% 0 5% 20%;
    color: $darkGrey;

  }
  h3 {
    font-size: 3rem;
    color: $darkGrey;
  }
 
}

