
header {
  min-height: 60vh;
  background-color: $grey;
  background: linear-gradient(to top, rgba(255,255,255,0.9) 10%, rgba(255,255,255,0.8)), url("../assets/flower-back.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // position: relative;
  .top {
    display: flex;
    justify-content: space-between;
    // margin-bottom: 10px;
    padding-right: 15%;
  }

  nav ul{
    display: flex;
    li {
      padding-right: 20%;
    }
  }
  h1 {
    font-size: 4rem;
    padding: 15% 0 0 10%;
    color: #FDCA4A;
    text-shadow: 1px 1px gray;
  }
  h4 {
    font-size: 1.6rem;
    padding: 2% 0 5% 20%;
    color: $darkGrey;

  }
  h3 {
    font-size: 3rem;
    color: $darkGrey;
  }
 
}

