// Base styles for page
h1, h2, h3, h4, p {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: $darkGrey;
}
h2 {
  padding: 30px 0 10px 30px;
  margin-bottom: 40px;
  border-bottom: 3px solid $highlight;
  width: 40%;
}
body {
  background-color: $grey;
}
.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}
html {
  font-size: 125%;
   scroll-behavior: smooth;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  letter-spacing: 1px;
  color: $darkGrey;
}

// End base styles



