
.project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 120px 50px;
  align-items: center;
  padding: 20px 5px;

  img {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 3%;
  }
  // .boxes {
  //   display: grid;
  // }
  /* sets all boxes to the right */
  .box {
    transform: translateX(300%);
    transition: transform 0.4s ease-out;
  }
  /* set every second box to the left */
  /* so the boxes will alternate the sides they come in from */
  .box:nth-of-type(odd) {
    transform: translateX(-300%);
  }
  .box.show {
    transform: translateX(0);
  }

  .text-and-button {
    text-align: center;
    padding: 50px 30px;
    border: 1px $grey solid;
    border-radius: 20px;
    background: #F0F0F0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 19px 38px, rgba(0, 0, 0, 0.12) 0px 15px 12px;

    h3 {
      padding: 0 20px 30px 20px;
    }
    p {
      padding: 0 10%  20px 10%;
      line-height: 1.7; 
      letter-spacing: 0.8;
      font-size: 0.8rem;
    }
    button {
      font-size: 0.6rem;
      margin: 0 20px 8px 0;
      padding-bottom: 2px;
      border: none;
      border-bottom: solid 2px $highlight;
      transition: 0.1s ease-out;
    }
    button:hover {
      background-color: $highlight;
      padding-top: 4px;
      box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 5px, rgba(0, 0, 0, 0.22) 5px 6px 5px;
      border-radius: 5%;
    }
    button:focus {
      background-color: $highlight;
      padding-top: px;
      box-shadow: none;
    }
    
  }


}
