
// Variables
$primary: #FFFFFF;
$grey: #EFEFEF;
$highlight: #FDCA4A;
$darkGrey: #2F4F4F;

$font: 'Montserrat', sans-serif;;



@import 'setup';
@import 'normalize';
@import 'header';
@import 'footer';
@import 'about';
@import 'skills';
@import 'projects';
@import 'contact';
@import 'media-queries';


