html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1, h2, h3, h4, p {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #2F4F4F;
}

h2 {
  padding: 30px 0 10px 30px;
  margin-bottom: 40px;
  border-bottom: 3px solid #FDCA4A;
  width: 40%;
}

body {
  background-color: #EFEFEF;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1600px;
  width: 80%;
  margin: 0 auto;
}

html {
  font-size: 125%;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  letter-spacing: 1px;
  color: #2F4F4F;
}

a,
button {
  cursor: pointer;
}

header {
  min-height: 50vh;
  background-color: #EFEFEF;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.8))), url("../assets/flower-back.png");
  background: linear-gradient(to top, rgba(255, 255, 255, 0.9) 10%, rgba(255, 255, 255, 0.8)), url("../assets/flower-back.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
header .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 15%;
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header nav ul li {
  padding-right: 5%;
}
header nav ul a:hover {
  border-bottom: 2px solid #FDCA4A;
}
header h1 {
  font-size: 4rem;
  padding: 8% 0 0 7%;
  color: #FDCA4A;
  width: 50%;
  text-shadow: 1px 1px gray;
}
header h4 {
  font-size: 1.6rem;
  padding: 2% 0 5% 20%;
  color: #2F4F4F;
}
header h3 {
  font-size: 3rem;
  color: #2F4F4F;
}

.bottom-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}

.bottom-info i {
  font-size: 1.6rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 0 20px;
}

.copy {
  background-color: #FDCA4A;
  color: #EFEFEF;
  padding: 5px 0;
}

p {
  font-size: 0.6rem;
  text-align: center;
}

.bottom-icons :hover {
  color: #FDCA4A;
  scale: 1.3;
}

.about {
  padding: 40px 0 40px 0;
}
.about .about-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about .about-img {
  grid-column: 1/2;
}
.about .about-img img {
  border-radius: 50%;
  margin-top: 60px;
}
.about .about-text {
  grid-column: 2/4;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}
.about .about-text p {
  line-height: 1.9;
  letter-spacing: 0.6px;
  font-size: 0.8rem;
  padding: 0 10% 20px 10%;
}

.skills {
  background-color: #EFEFEF;
  margin: 40px 0;
}

.skillsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 40px 0px;
  font-size: 2.3rem;
  justify-items: center;
  font-weight: bold;
  text-align: center;
}

.skillsGrid i {
  color: #2F4F4F;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  padding: 10px;
}

.skillsGrid i:hover {
  color: #FDCA4A;
}
.skillsGrid i:hover p {
  color: #FDCA4A;
}

.fa-html5:hover {
  -webkit-transform: rotateZ(90deg) translate(10px, -20px);
          transform: rotateZ(90deg) translate(10px, -20px);
}

.fa-css3-alt:hover {
  -webkit-transform: rotateY(1440deg);
          transform: rotateY(1440deg);
}

.fa-js-square:hover {
  -webkit-transform: rotateX(1440deg);
          transform: rotateX(1440deg);
}

.fa-react:hover {
  -webkit-transform: rotate(1440deg);
          transform: rotate(1440deg);
}

.fa-download:hover {
  -webkit-transform: translateY(9px);
          transform: translateY(9px);
}

.fa-database:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.skillsGrid .fa-github-square:hover {
  -webkit-transform: skewX(30deg);
          transform: skewX(30deg);
}

.fa-universal-access:hover {
  -webkit-transform: rotateZ(1440deg);
          transform: rotateZ(1440deg);
}

.fa-mobile-alt:hover {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.fa-sass:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.fa-python:hover {
  -webkit-transform: scale(1.3) translateY(-10px) rotate(45deg);
          transform: scale(1.3) translateY(-10px) rotate(45deg);
}

.fa-chart-bar:hover {
  -webkit-transform: skewX(-35deg);
          transform: skewX(-35deg);
}

.project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 120px 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 5px;
  /* sets all boxes to the right */
  /* set every second box to the left */
  /* so the boxes will alternate the sides they come in from */
}
.project-grid img {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 3%;
}
.project-grid .box {
  -webkit-transform: translateX(300%);
          transform: translateX(300%);
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.project-grid .box:nth-of-type(odd) {
  -webkit-transform: translateX(-300%);
          transform: translateX(-300%);
}
.project-grid .box.show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.project-grid .text-and-button {
  text-align: center;
  padding: 50px 30px;
  border: 1px #EFEFEF solid;
  border-radius: 20px;
  background: #F0F0F0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 19px 38px, rgba(0, 0, 0, 0.12) 0px 15px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 19px 38px, rgba(0, 0, 0, 0.12) 0px 15px 12px;
}
.project-grid .text-and-button h3 {
  padding: 0 20px 30px 20px;
}
.project-grid .text-and-button p {
  padding: 0 10% 20px 10%;
  line-height: 1.7;
  letter-spacing: 0.8;
  font-size: 0.8rem;
}
.project-grid .text-and-button button {
  font-size: 0.6rem;
  margin: 0 20px 8px 0;
  padding-bottom: 2px;
  border: none;
  border-bottom: solid 2px #FDCA4A;
  -webkit-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
}
.project-grid .text-and-button button:hover {
  background-color: #FDCA4A;
  padding-top: 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 5px, rgba(0, 0, 0, 0.22) 5px 6px 5px;
          box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 5px, rgba(0, 0, 0, 0.22) 5px 6px 5px;
  border-radius: 5%;
}
.project-grid .text-and-button button:focus {
  background-color: #FDCA4A;
  padding-top: px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contact {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.8))), url("../assets/hex-back.jpg");
  background: linear-gradient(to top, rgba(255, 255, 255, 0.8) 10%, rgba(255, 255, 255, 0.8)), url("../assets/hex-back.jpg");
  background-size: cover;
  background-position: center;
  margin-top: 60px;
  padding-top: 20px;
}
.contact .contact-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
}
.contact .icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact .icon-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px 70px 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact i {
  color: #2F4F4F;
  font-size: 2rem;
  padding-right: 30px;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
.contact .fa-envelope:hover {
  color: #FDCA4A;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.contact p {
  padding-top: 5px;
  font-size: 1rem;
  letter-spacing: 1px;
  text-align: left;
}
.contact fieldset {
  border: 1px solid #2F4F4F;
  border-radius: 5px;
  margin: 0 0 80px 0;
  padding: 50px;
  width: 100%;
}
.contact fieldset legend {
  color: #2F4F4F;
  font-size: 0.9rem;
}
.contact form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.contact form #name {
  grid-column: 1/2;
  background: none;
  padding-left: 30px;
  border: 1px solid #2F4F4F;
}
.contact form #email {
  grid-column: 1/2;
  background: none;
  padding-left: 30px;
  border: 1px solid #2F4F4F;
}
.contact form input,
.contact form textarea {
  border-radius: 5px;
  padding: 10px 0;
  margin-bottom: 30px;
}
.contact form input:focus,
.contact form textarea:focus {
  outline: 2px solid #2F4F4F;
}
.contact form #message {
  grid-column: 1/3;
  background: none;
  padding: 30px 0 0 30px;
  border: 1px solid #2F4F4F;
}
.contact form button {
  grid-column: 1/3;
  background: none;
  margin-top: 10px;
  padding: 10px 0;
  border: 1px solid #FDCA4A;
  border-radius: 28px;
  color: #2F4F4F;
}
.contact form button:hover {
  background: #FDCA4A;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 5px, rgba(0, 0, 0, 0.22) 5px 6px 5px;
          box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 5px, rgba(0, 0, 0, 0.22) 5px 6px 5px;
  border: 1px solid #2F4F4F;
}

@media (max-width: 900px) {
  .icon-text {
    padding-left: 0;
  }

  icon-list ul {
    padding-left: 0;
  }

  .project-grid {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  h2 {
    width: 50%;
  }
}
@media (max-width: 750px) {
  h2 {
    width: 100%;
    text-align: center;
  }

  .about .about-info {
    grid-template-columns: 1fr;
  }
  .about .about-info .about-img,
.about .about-info .about-text {
    grid-column: 1/1;
  }

  .about-img {
    margin-top: -75px;
  }

  .contact .contact-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .icon-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact .icon-text {
    padding-bottom: 30px;
    padding-left: 0;
    line-height: 1.3;
  }
  .contact .icon-text p {
    letter-spacing: 1px;
  }
  .contact fieldset {
    width: 100%;
    padding: 20px 10px;
    margin-bottom: 25px;
  }

  .bottom-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bottom-info i,
.bottom-info h4 {
    padding-top: 20px;
  }
}
@media (max-width: 550px) {
  nav {
    display: none;
  }

  header h1 {
    font-size: 3rem;
  }
}
@media (max-width: 380px) {
  header h1 {
    font-size: 2.5rem;
  }
}